
#transaction-history {
    padding-top: 5rem;
}

.card {
 border: 1px solid black;
 max-width: 60%;
}

@media print {
        
    ::first-letter{
        margin: 0;
        padding: 0;
    }

    .card {
        max-width: 100%;
    }
}