<div class="container-fluid d-flex hidden-print">
  <nav class="navbar navbar-dark navbar-inverse bg-inverse navbar-toggleable-md fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       &#9776;
    </button>
    <a class="navbar-brand" routerLink="/"><img src="../../assets/logo.png" class="img-fluid"/></a>
   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/orders/create">PLACE AN ORDER</a>
        <ng-template [ngIf]="isAuthenticated()">
          <a class="nav-link" routerLink="/orders/processing">PROCESS ORDERS</a>
          <a class="nav-link" routerLink="/orders/transactions">ORDER HISTORY</a>
        </ng-template>
      </div>
      <div class="navbar-nav ml-auto">
        <a class="nav-link" routerLink="/menu">MENU</a>
        <a class="nav-link" routerLink="/story">SAM'S STORY</a>
        <ng-template [ngIf]="!isAuthenticated()">
          <a class="nav-link" routerLink="/signin">LOGIN</a>
          <!-- <a class="nav-link" routerLink="/register">REGISTER</a> -->
        </ng-template>
        <ng-template [ngIf]="isAuthenticated()">
          <li class="nav-link"><a class="hand" (click)="logout()">LOGOUT</a></li>
        </ng-template>
      </div>
    </div>
  </nav>
</div>