<section id="signin">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <h1 class="m-4">Sign In!</h1>
          <form (ngSubmit)="onSignin(f)" #f="ngForm">
            <div class="form-group mx-4">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" email ngModel class="form-control">
            </div>
            <div class="form-group mx-4">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" ngModel class="form-control">
            </div>
            <button class="btn btn-primary m-4" type="submit" [disabled]="!f.valid">Sign In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>