<section id="order">
  <div class="container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row" *ngIf="!loading && ordersService.isOpenForBusiness()">
      <div class="col-md-4">
        <div class="card p-4">
          <h1>Current Order</h1>
          <div *ngIf="currentOrder">
            <!-- <h4 class="text-muted ml-2">{{currentOrder.customerName}}</h4> -->
            <h4 class="text-muted ml-2">{{this.currentOrder.total / 100 | currency: 'USD': true}}</h4>
            <button class="btn btn-success" [disabled]="currentOrder.orderedItems.length <= 0" (click)="submitOrder()">Submit</button>
            <button class="btn btn-danger" [disabled]="currentOrder.orderedItems.length <= 0" (click)="clearOrder()">Clear</button>
            <hr>
            <div 
              *ngFor="let orderedItem of currentOrder.orderedItems; let i = index" 
              [ngClass]="{'alert-success': isCombo(orderedItem), 'alert-info': !isCombo(orderedItem) }" 
              class="alert mt-3">
                <div class="d-flex">
                  <h5 class="p-1"> {{orderedItem.name | uppercase}} </h5>
                  <p class="p-1"> <strong>{{orderedItem.price / 100 | currency: 'USD': true}}</strong></p>
                  <i class="fa fa-times ml-auto" aria-hidden="true" (click)="removeItemFromOrder(i)"></i>
                </div>
                <hr *ngIf="currentOrder.orderedItems[i].extras != undefined && currentOrder.orderedItems[i].extras.length > 0">
                <div class="d-flex" 
                  *ngFor="let extra of currentOrder.orderedItems[i].extras">
                    <h5 class="p-1"> {{extra.name | uppercase}} </h5>
                    <!-- <p class="p-1"> <strong>{{orderedItem.price / 100 | currency: 'USD': true}}</strong></p> -->
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card p-4">
          <button 
            *ngFor="let menuItem of menuItems"
            (click)="addItemToOrder(menuItem)"  
            [ngClass]="{'btn-success': isCombo(menuItem), 'btn-primary': !isCombo(menuItem) }" 
            [disabled]="menuItem.maxPerOrder < 1"
            class="btn m-2">
              <p> {{menuItem.name | uppercase}} <ng-template [ngIf]="menuItem.maxPerOrder">({{menuItem.maxPerOrder}})</ng-template></p>
              <p> {{menuItem.price / 100 | currency: 'USD': true}} </p>
          </button>
        </div>
      </div>
      <hr>
    </div>
    <h1 class="text-center" *ngIf="!loading && !ordersService.isOpenForBusiness()">We're closed for a bit! Sorry!</h1>
  </div>
</section>