<section id="process">
  <div class="container">
    <button class="btn btn-info btn-lg btn-block p-5 mb-2" *ngIf="!ordersService.isOpenForBusiness()" (click)="ordersService.openForBusiness()">Open for business!</button>
    <button class="btn btn-warning btn-lg btn-block p-5 mb-2" *ngIf="ordersService.isOpenForBusiness()" (click)="ordersService.closeForBusiness()">Close for business!</button> 
    <div *ngIf="orders != undefined && orders.length >= 0">
      <div *ngFor="let order of orders">
        <app-available-order [order]="order"></app-available-order>
      </div>
    </div>
    <div *ngIf="orders == undefined || orders.length == 0">
      <h1 class="text-center">Everyone is happy!</h1>
      <img src="https://firebasestorage.googleapis.com/v0/b/carnival-pos.appspot.com/o/people.png?alt=media&token=20338193-b821-4667-8a44-4588d908c523" />
    </div>
  </div>
</section>