<section id="dashboard"> 
  <div class="container"> 
    <div class="hidden-md-down text-center">
      <img src="https://firebasestorage.googleapis.com/v0/b/carnival-pos.appspot.com/o/banner.png?alt=media&token=72fdb6b0-3b6b-466e-b4ff-18c259b64fb7" />
      <button routerLink="/orders/create" class="btn btn-primary hand"><img src="https://firebasestorage.googleapis.com/v0/b/carnival-pos.appspot.com/o/menu_banner.png?alt=media&token=f4683b61-79a7-402d-943e-1f59c745b774" /></button>
    </div>
    <button class="btn btn-primary hidden-lg-up btn-lg mt-3 mx-md-5 btn-block" routerLink="/orders/create"><h1>Hungry?</h1></button>
  </div>
</section>
