<section id="story"> 
  <div class="container"> 
    <div class="row">
      <div class="col-md-8 offset-md-2 card p-4">
        <h1 class="text-center">Samuel "Craves" Cravings</h1>
        <hr width="60%">
        <div style="text-align:center">
          <p>
          <img class="left" src="../assets/chef.png" />
          Samuel Cravings, chef and cheese expert, began his love affair with food at the age of ten, selling soft pretzels from a three-wheeled bicycle cart he built with his father called “The Awesome Pretzel.” 
          By selling pretzels and washing dishes, Craves (as his father called him) earned enough money in six years to study abroad as an exchange student in Chantilly, France. There he gained a profound appreciation 
          for international cuisine and the lifestyle associated with it. In 1996, Craves launched his culinary career with the opening of "Craving Dat Sauce", his first restaurant based in his hometown of Wilmer, AL with 
          business partner Angeline Jolie.
          </p>
          <p>
          Since the opening of the first Craving Dat Sauce, Craves has gone on to create a culinary empire as a Carnie Phenom, and continues to deliver the tasties treats to one and all!
          </p>
          <p>
          Craves attended University of South Alabama, where he graduated with a bachelor’s degree in Coulrophobia.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>